body {
	margin:0;
	font-family: 'Arial',sans-serif;
 
}


.menubar {
	margin-left: 45%;
    
}

 

.navbar-nav a:hover {
    border: 1px solid white;
    color: #ffffff;
}

.navbar-nav a.active {
 border: 1px solid white;
    color: #ffffff ;
    background-color: #BB015C;
    opacity: 0.95;   
}

.head {
	width: 100%;
	background-color: #ff53ff;


}

.abus {
text-align: center;
margin-top: 20px;
}
.abusp {
	font-size: 25px;
	margin-top: 20px;
	font-family:"Verdana, sans-serif";
} 

.container1 {
	border-color: #676767;
	border: 1px solid green;
}

#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	position: relative;
	color: #ccc;
    font-size: 15px;

}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

.popover-title {
    color: blue;
    font-size: 15px;
}
.popover-content {
    color: red;
    font-size: 10px;
}
#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .linkedin:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}


.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


.servblock {
    background: rgba(249,236,181,0.47);
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 15px 0;
    box-shadow: 1px 1px 6px #000;
}



.rows {

    display: flex;
 width: 100%;
    flex-wrap: wrap;
    padding: 0 4px;
}


.columns {
     
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columns img {
    margin-top: 8px;
    vertical-align: middle;
}


@media screen and (max-width: 800px) {
    .columns {
    
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .columns {
    
        flex: 100%;
        max-width: 100%;
    }
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
